{{#if user}}
<main class="container">
  <div class="title">
    <h1 class="cover-heading">
      {{title}}
    </h1>
    <div class="subtitle">
      <p> Edit profile information </p>
    </div>
  </div>
  <div class="page-body">
    <div class="settings-page">

      <form method="post" enctype="multipart/form-data">
        <div class="settings-form">
          <div class="fieldset">
            <div class="label">
              <label for="username" class="col-2 control-label">
                Username:
              </label>             
            </div>
            <div class="field">
              <input class="input-text" name="username" id="username" required value="{{user.username}}"/>
            </div>
          </div>
          <div class="fieldset">
            <div class="label"
              <label for="img" class="col-2 control-label">Upload Image:</label>
            </div>
            <div class="field">
              <input type="file" name="img" id="img" />
            </div>
          </div>
          <div class="form-button">
            <button class="save-button">Save</button>
          </div>
        </div>
      </form> 

      <div class="form-button">
        <button class="save-button">
          <a href="/profiles/edit">Return to Profile Page </a>
        </button>
      </div>
    </div>
  </div>
</main>


{{else}}
    {{!-- Refreshes the page after _ (0) seconds to the login page --}}
    <meta http-equiv="Refresh" content="0; url='/login'" /> 
    {{!-- If meta doesnt load in browser, the link is a fail safe --}}
    <h1>Can NOT reach this page. Please <a href="/login">Sign in</a>.</h1>
{{/if}}

