<h1>{{title}}</h1>

<main>
  <p>This recipe website is created with the intention of catering to everyone.
    Maybe you're a busy mother who has no time to cook, or you're just trying to
    perfect your cooking skills. Whatever it is, we have everything here for
    you. And hey, we won't judge you for wanting to make a quick, late night
    dessert. Whatever your heart desires, we have it covered here! 
  </p>
</main>