{{!-- About Page --}}
<h1 id="about_title">{{title}}</h1>

<main>
  <h2 id="about_subtitle">Who We Are</h2>
  <p>We are a group of students from Georgian College that took the time to
    design this website. This is done as a final project for our Systems Project
    2 course. The overall duration of this is 4 months. We are proud of our
    accomplishments from start to finish, and continue to strive for
    improvement.
  </p>

  <h2 id="about_subtitle">What is this Page</h2>
  <p>The HAM sandwich is a recipe website created with the user in mind. We
    understand that there are varying levels of expertise when it comes to
    cooking meals. There are professionals, and then there are people that have
    never cooked a day in their life. Do not worry, we have something for
    everyone, especially for timid beginners.
  </p>

  <h2 id="about_subtitle">What We Offer</h2>
  <p>A variety of dishes to your liking. From sweet, mouth-watering desserts, to
    savoury appetizers, lunches and suppers, you are certain to have your
    cravings satisfied. Do not worry, we will not judge you for wanting to have
    a late night snack either. We understand! Feel free to use these recipes
    when trying to impress family, friends, or maybe even a special someone in
    your life</p>
</main>