<h1 id="contact_title">{{title}}</h1>

<main>
  <h2 id="contact_subtitle">
    Hey there! We're here to help. If you ever have any inquiries while you are
    here, feel free to contact us by using the following.
  </h2>

  <p>
    Email:
    <a href="mailto:the_ham_sandwich@gmail.com">the_ham_sandwich@gmail.com</a>
  </p>

  <p>
    Phone:
    <a href="tel:7051234567">705-123-4567</a>
  </p>

</main>