<h1>{{title}}</h1>
<p>Welcome to the Home page for Group 6's Recipe Website!</p>

<h3>Upcoming Functionality</h3>
<ul>
  <li>Login and Registering an Account</li>
  <li>Profile Creations</li>
  <li>Authentication</li>
  <li>Search/Filtering</li>
  <li>And More!</li>
</ul>
