<h1>{{title}}</h1>

<p>Welcome to the Home page for Group 6's Recipe Website!</p> 

<h2>Recipe of the Day</h2>
{{!-- Copy - pasted the loop so that the random recipe can display accordingly --}}
<table>
    {{#each dataset}}
    <tr>
        <td><a href="/recipes/view/{{this._id}}">{{this.title}}</a></td>
        <td>{{this.author}}</td>
    </tr>
    {{/each}}
</table>

<h2>Other Recipes</h2>
<table style="border: none;">
  <tr>
    <th>
      <img
        src="https://www.thespruceeats.com/thmb/K_kSSs1ygbyQxVi75bLFdoJuHoQ=/1414x2121/filters:fill(auto,1)/GettyImages-683194578-5aa59577ba6177003761b609.jpg"
        alt="oreo-shake"
        height="250"
        width="200"
      />
      <br>Oreo Milkshake
      </th>
    <th>
      <img
        src="https://wholesomekids.ca/wp-content/uploads/2020/04/iStock-1125028819.jpg"
        alt="banana-oatmeal"
        height="200"
        width="200"
      />
      <br>Banana Oatmeal
    </th>
    <th>
      <img
        src="https://blog.organwiseguys.com/wp-content/uploads/2017/01/hard-boiled-egg-sandwich.jpg"
        alt="egg-sammie"
        height="250"
        width="250"
      />
      <br>Egg Sandwich
      </th>
    <th>
      <img
        src="https://img.thebrownlounge.com/wp-content/uploads/2013/03/traditional-shepherds-pie-recipe-1.jpg"
        alt="shepard-pie"
        height="250"
        width="250"
      />
      <br>Shepard's Pie
    </th>
  </tr>
</table>

<h3>Upcoming Functionality</h3>
<ul>
  <li>Login and Registering an Account</li>
  <li>Profile Creations</li>
  <li>Authentication</li>
  <li>Search/Filtering</li>
  <li>And More!</li>
</ul>
