<h1>{{title}}</h1>
<p>Test {{title}}</p>

<h2>Oatmeal</h2>

<p>1 cup steel cut oats <br>
3 cups water<br>
¼ teaspoon sea salt</p>

<p>Bring the water to a boil in a medium pot. Add the oats and salt and reduce heat to medium-low. Cook, stirring occasionally, for 15 to 20 minutes, or until thickened. 
    Stir in cinnamon, nutmeg, or cardamom, if desired. Remove from heat and let stand for two minutes. Serve hot with desired toppings and honey or maple syrup, if desired.</p>
