{{!-- 
Purpose: The layout of the head, header and footer of each page of the website.
Changes: 
LH Feb 1 - Edited the head tags to have a title and icon.
           Added a header and footer to the website with navigation. 
--}}
<!DOCTYPE html>
<html>
  <head>
    <title>The Ham Samwichez</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/scripts.js"></script>
    <link rel="icon" href="/uploads/HamSandwich.jpg" type="image/x-icon">
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"> --}}
  </head>
  <header> 
    <img src="/uploads/HamSandwich.jpg" style="width: 30px; height: 30px;">
    <a href = "/">Home</a> |
    <a href="/recipes"> Recipes </a> |
    {{#if user}}
      <a href="/recipes/add">Add Recipe </a> |
      <a href="/profiles/{{user._id}}">{{user.username}}</a> |
      <a href="/logout">Logout</a> 
    {{else}}
      <a href="/login">Login</a> |
      <a href="/register">Register</a> 
    {{/if}}
  </header>
  <body>
    {{{body}}}
  </body>
  <footer>
    <nav>
      <a href="/about">About Us</a> |
      <a href="/contact">Contact Us</a> |
      <a href="/tools">Tools</a> 
    </nav>
    <small>Lindsay Hunter, Myles Megaffin, Sierra Buckland, Taeler Burgess</small>
    </br>
    <small>Copyright: This is an educational assignment for COMP3006 at Georgian College. This website is intended for educational purposes only.</small>
    </br>
    <small>Created icon design at LogoMakr.com</small>
  </footer>
</html>
