{{!-- TO ADD: Vegan Substitutes, Ingredient Swapping, Internal temperatures,   --}}

{{!-- Referencing the stylesheet --}}

{{!-- UPDATE -- Added more to the following elements --}}
<head>
  <link rel="stylesheet" href="../public/stylesheets/tools.css">
</head>
  
 <h1>Tools</h1>
  <div id="links">
    <nav>
    <a href="#temp-con">Temperature Conversion</a>
    <a href="#vol-con">Volume Conversion</a>
    <a href="#veg-sub">Vegan Substitutions</a>
    <a href="#bake-sub">Baking Substitutes</a>
    <a href="#internal-temp">Meat Internal Temperature</a>
  </nav>
  </div>

<div id="wrapper"> 
<section>
<h3 id="temp-con">TEMPERATURE CONVERSION</h3>
<table class="centre1">
  <tr>
    <th>Fahrenheit</th>
    <th>Celsius</th>
  </tr>
  <tr>
    <td>250°F</td>
    <td>120°C</td>
  </tr>
  <tr>
    <td>275°F</td>
    <td>140°C</td>
  </tr>
    <tr>
    <td>300°F</td>
    <td>150°C</td>
  </tr>
  <tr>
    <td>325°F</td>
    <td>160°C</td>
  </tr>
  <tr>
    <td>350°F</td>
    <td>180°C</td>
  </tr>
  <tr>
    <td>375°F</td>
    <td>190°C</td>
  </tr>
    <tr>
    <td>400°F</td>
    <td>200°C</td>
  </tr>
  </tr>
    <tr>
    <td>425°F</td>
    <td>220°C</td>
  </tr>
</table>
</section>

<section>
<h3 id="vol-con">VOLUME CONVERSION</h3>
<table class="centre2">
  <tr>
    <th>Cups</th>
    <th>Fluid Ounces</th>
    <th>Tablespoons</th>
    <th>Teaspoons</th>
    <th>Liters/Milliliters</th>
  </tr>
  <tr>
    <td>2 cups</td>
    <td>16 oz or 1 pint</td>
    <td>33 tbsp</td>
    <td>100 tsp</td>
    <td>500 mL</td>
  </tr>
  <tr>
    <td>1 cup</td>
    <td>8 oz</td>
    <td>17 tbsp</td>
    <td>50 tsp</td>
    <td>250 mL</td>
  </tr>
    <tr>
    <td>3/4 cup</td>
    <td>6 oz</td>
    <td>12 tbsp</td>
    <td>35 tsp</td>
    <td>15 mL</td>
  </tr>
  <tr>
    <td>1/2 cup</td>
    <td>4 oz</td>
    <td>8 tbsp</td>
    <td>25 tsp</td>
    <td>125 mL</td>
  </tr>
  <tr>
    <td>1/3 cup</td>
    <td>3 oz</td>
    <td>5 tbsp</td>
    <td>15 tsp</td>
    <td>75 mL</td>
  </tr>
  <tr>
    <td>1/4 cup</td>
    <td>2 oz</td>
    <td>4 tbsp</td>
    <td>12 tsp</td>
    <td>60 mL</td>
  </tr>
    <tr>
    <td>1/8 cup</td>
    <td>1 oz</td>
    <td>2 tbsp</td>
    <td>6 tsp</td>
    <td>30 mL</td>
  </tr>
</table>
</section>


<section>
 {{!-- Vegan Substitutions --}}
<h3 id="veg-sub">Vegan Substitutes</h3>
<h4>Meat</h4>
<ul style="line-height:180%">
  <li>Jackfruit</li>
  <li>Tofu</li>
  <li>Seitan</li>
</ul>

<h4>Eggs</h4>
<p>Per egg</p>
<h5>Leavening Agent</h5>
<p style="line-height:180%;">Mix 1 1/2 tbsp of vegetable oil, 1 1/2 tbsp of water, and 1 tsp of baking powder </p> 
<h5>Binding Agent</h5>
<ul style="line-height:180%">
  <li>1/2 of a medium banana</li>
  <li>1/4 cup of apple sauce</li>
  <li>1 tbsp of flax seeds mixed with 3tbsp of warm water</li>
  <li>1 tbsp of chia seeds mixed with 3tbsp of warm water</li>
</ul>

<h4>Butter</h4>
<p>Per 1 cup of butter</p>
<ul style="line-height:180%">
  <li>1 cup of margarine</li>
  <li>1 cup of coconut butter </li>
  <li>1/2 cup of apples sauce</li>
  <li>3/4 cup of vegetable/olive/coconut oil</li>
  <li>1/2 cup of plain greek yogurt</li>
  <li>1 cup of avocados</li>
</ul>

<h4>Milk</h4>
<ul style="line-height:180%">
  <li>Soy milk</li>
  <li>Oat milk</li>
  <li>Almond milk</li>
  <li>Coconut milk</li>
  <li>Rice milk</li>
</ul>

{{!-- Adding an image to not leave it empty --}}
 <div class="row"> 
    <div class="col">
      <img id="egg"
        src="https://cdn.apartmenttherapy.info/image/fetch/f_auto,q_auto:eco,w_1500,c_fill,g_auto/https://storage.googleapis.com/gen-atmedia/3/2012/05/2393d7b46e6a1e4040ae85cc00486a408b09e070.jpeg"
        alt="banana-egg"
        style="height: 300px; width: 330px; padding-top:30px;"
      /></div>
  </div>
  
</section>

<section>
{{!-- Backing Ingredient swapping --}}
<h3 id="bake-sub">Baking Substitutes</h3>
<h4>Eggs</h4>
<p>Per egg</p>
<h5>Leavening Agent</h5>
<p>Mix 1 1/2 tbsp of vegetable oil, 1 1/2 tbsp of water, and 1 tsp of baking powder </p> 
<h5>Binding Agent</h5>
<ul style="line-height: 180%;">
  <li>1/2 of a medium banana</li>
  <li>1/4 cup of apple sauce</li>
  <li>3 1/2 tbsp of gelatin blend</li>
  <li>1 tbsp of flax seeds mixed with 3tbsp of warm water</li>
  <li>1 tbsp of chia seeds mixed with 3tbsp of warm water</li>
</ul>

<h4>Baking Powder</h4>
<p>Per 1 tbsp</p>
<ul style="line-height: 180%;">
  <li>1/4 tsp of baking soda, and 1/2 tsp of cream of tartar</li>
  <li>If the recipes already calls for baking soda, substitute with lemon juice </li>
</ul>

<h4>Butter</h4>
<p>Per 1 cup of butter</p>
<ul style="line-height: 180%;">
  <li>1/2 cup of apples sauce</li>
  <li>3/4 cup of vegetable/olive oil</li>
  <li>1/2 cup of plain greek yogurt</li>
  <li>1 cup of avocados</li>
</ul>

<h4>White Sugar</h4>
<p>Per 1 cup of sugar</p>
<ul style="line-height: 180%;">
  <li>3/4 cup of honey</li>
  <li>1 tsp of of Stevia</li>
  <li>3/4 cup of maple syrup</li>
</ul>

<h4>Brown Sugar</h4>
<p>Per 1 cup of brown sugar</p>
<ul style="line-height: 180%;">
  <li>1 cup of of white sugar</li>
  <li>3/4 cup of honey</li>
  <li>3/4 cup of maple syrup</li>
</ul>

{{!-- Adding an image to not leave it empty --}}
 <div class="row">
    <div class="col">
      <img id="sub"
        src="https://www.letseatcake.com/wp-content/uploads/2020/05/Baking-Tools.jpg"
        alt="substitution"
        style="height: 300px; width: 360px; padding-right: 40px; padding-top:15px;"
      /></div>
  </div>

</section>

<section>
{{!-- Meat Internal temperatures --}}
<h3 id="internal-temp">MEAT INTERNAL TEMPERATURES</h3>
<table class="centre3">
<thead>
  <tr>
    <th></th>
    <th>Beef/Pork/Lamb</th>
    <th>Poultry</th>
    <th>Ham</th>
    <th>Ground Meat</th>
    <th>Ground Poultry</th>
    <th>Casseroles</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Temperatures</td>
    <td>145F / 63C</td>
    <td>165F / 74C</td>
    <td>145F / 63C</td>
    <td>160F / 71C</td>
    <td>165F / 74C</td>
    <td>165F/74C</td>
  </tr>
</tbody>
</table>
</section>
</div>
