{{!-- TO ADD: Vegetarian Substitutes, Ingredient Swapping, Internal temperatures,   --}}

<h1>Tools</h1>
<nav>
  <a href="#temp-con">Temperature Conversion</a>
  <a href="#vol-con">Volume Conversion</a>
</nav>

<h3 id="temp-con">TEMPERATURE CONVERSION</h3>
<table>
  <tr>
    <th>Fahrenheit</th>
    <th>Celsius</th>
  </tr>
  <tr>
    <td>250°F</td>
    <td>120°C</td>
  </tr>
  <tr>
    <td>275°F</td>
    <td>140°C</td>
  </tr>
    <tr>
    <td>300°F</td>
    <td>150°C</td>
  </tr>
  <tr>
    <td>325°F</td>
    <td>160°C</td>
  </tr>
  <tr>
    <td>350°F</td>
    <td>180°C</td>
  </tr>
  <tr>
    <td>375°F</td>
    <td>190°C</td>
  </tr>
    <tr>
    <td>400°F</td>
    <td>200°C</td>
  </tr>
  </tr>
    <tr>
    <td>425°F</td>
    <td>220°C</td>
  </tr>
</table>

<h3 id="vol-con">VOLUME CONVERSION</h3>
<table>
  <tr>
    <th>Cups</th>
    <th>Fluid Ounces</th>
    <th>Tablespoons</th>
    <th>Teaspoons</th>
    <th>Liters/Milliliters</th>
  </tr>
  <tr>
    <td>2 cups</td>
    <td>16 oz or 1 pint</td>
    <td>33 tbsp</td>
    <td>100 tsp</td>
    <td>500 mL</td>
  </tr>
  <tr>
    <td>1 cup</td>
    <td>8 oz</td>
    <td>17 tbsp</td>
    <td>50 tsp</td>
    <td>250 mL</td>
  </tr>
    <tr>
    <td>3/4 cup</td>
    <td>6 oz</td>
    <td>12 tbsp</td>
    <td>35 tsp</td>
    <td>15 m7L</td>
  </tr>
  <tr>
    <td>1/2 cup</td>
    <td>4 oz</td>
    <td>8 tbsp</td>
    <td>25 tsp</td>
    <td>125 mL</td>
  </tr>
  <tr>
    <td>1/3 cup</td>
    <td>3 oz</td>
    <td>5 tbsp</td>
    <td>15 tsp</td>
    <td>75 mL</td>
  </tr>
  <tr>
    <td>1/4 cup</td>
    <td>2 oz</td>
    <td>4 tbsp</td>
    <td>12 tsp</td>
    <td>60 mL</td>
  </tr>
    <tr>
    <td>1/8 cup</td>
    <td>1 oz</td>
    <td>2 tbsp</td>
    <td>6 tsp</td>
    <td>30 m7L</td>
  </tr>
</table>