h1{
    padding-left: 20.5rem;
    padding-top: 1rem;
    color: #01161E;
}
.formbody{
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 1.5rem;
    color: #01161E;
    font-size: 20px;
}
.form-group{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
input{
    width: 20rem;
    height: 1.5rem;
    font-size: 20px;
}
select{
    
    font-size: large;
}
label{
    display: flex;
    justify-content: flex-start;
    padding-left: 15rem;
}
.formlabels{
    padding-left: 15rem;
}