body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

th,
td {
  padding: 25px;
}

table,
th,
td {
  border: 1px solid black;
}

#view_title {
  font-size: 40px;
  margin-bottom: 10px;
}

#view_tags {
  display: inline-block;
  background-color: #dedede;
  border-style: solid;
  border-radius: 10px;
  margin: 1px;
  padding: 2px;
}

#view_author {
  margin-bottom: 5px;
}
#view_tidbits {
  margin: 2px;
}
#view_subtitle {
  font-size: 20px;
  margin-bottom: 5px;
}
#view_ingredient {
  margin-top: 5px;
}
#view_steps {
  margin-top: 5px;
}
#view_img {
  width: 300px;
  height: 300px;
}
#view_img {
  position: absolute;
  right: 5px;
  top: 200px;
  width: 300px;
  height: 300px;
}
