body {
  /* padding: 50px; */
  /* font-family: 'EB Garamond', serif; */
  font-family: 'Karla', sans-serif;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}

a {
  color: #00b7ff;
}

th,
td {
  padding: 25px;
}

table,
th,
td {
  border: 1px solid black;
}

