{{!-- Put a forum to the add / create recipes in here  --}}
<h1>
  Add a recipe
</h1>
<form method="post">
  <fieldset class="form-group">
    <label for="author" class="col-2 control-label">
      Recipe Author:
    </label>
    <input
      name="author"
      id="author"
      type="text"
      maxlength="25"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="title" class="col-2 control-label">
      Recipe Title: 
    </label>
    <input
      name="title"
      id="title"
      type="text"
      maxlength="25"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="totalTime" class="col-2 control-label">
      Total Recipe Time:
    </label>
    <select name="totalTime" id="totalTime" required>
        <option value="">Pick a time</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="1">1+ hour</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="img" class="col-2 control-label">
      Image:
    </label>
    <input
      name="img"
      id="img"
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="cookTime" class="col-2 control-label">
      Cook Time:
    </label>
    <select name="cookTime" id="cookTime" required>
        <option value="">Pick a time</option>
        <option value="20">20 minutes</option>
        <option value="30">30 minutes</option>
        <option value="45">45 minutes</option>
        <option value="1">1+ hour</option>
    </select>
  </fieldset>
  <fieldset class="form-group">
    <label for="servings" class="col-2 control-label">
      Servings:
    </label>
    <input
      name="servings"
      type="number"
      max="48"
      id="servings"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="ingredients" class="col-2 control-label">
      Ingredients:
    </label>
    <input
      name="ingredients"
      id="ingredients"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="steps" class="col-2 control-label">
      Steps:
    </label>
    <input
      name="steps"
      id="steps"
      required
    />
  </fieldset>
 
  <fieldset class="form-group">
    <label for="mealProtein" class="col-2 control-label"> Tags:</label> 
    <select name="mealProtein" id="mealProtein" >
        <option value="">Pick a meal protein</option>
        <option value="beef">Beef</option>
        <option value="chicken">Chicken</option>
        <option value="seafood">Seafood</option>
        <option value="vegetarian">Vegetarian</option>
        <option value="vegan">Vegan</option>
    </select>
  </fieldset>
 

  <fieldset class="form-group">
    <label for="mealTime" class="col-2 control-label"> Tags:</label> 
    <select name="mealTime" id="mealTime">
        <option value="">Pick a meal </option>
        <option value="breakfast">Breakfast</option>
        <option value="lunch">Lunch</option>
        <option value="dinner">Dinner</option>
        <option value="dessert">Dessert</option>
    </select>
  </fieldset>

  <fieldset class="form-group">
    <label for="rating" class="col-2 control-label">
      Rating:
    </label>
    <input
      name="rating"
      id="rating"
      type="number"
      min="1"
      max="5"
      value="{{recipe.rating}}"
    />
  </fieldset>
    
  <fieldset class="form-group">
    <button class="btn btn-info offset-3">
      Add Recipe
    </button>
  </fieldset>
</form>
