{{!-- Put a forum to the add / create recipes in here  --}}
<h1>
  Edit a recipe
</h1>
<form method="post">
  <fieldset class="form-group">
    <label for="author" class="col-2 control-label">
      Recipe Author:
    </label>
    <input
      name="author"
      id="author"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="title" class="col-2 control-label">
      Recipe Title: 
    </label>
    <input
      name="title"
      id="title"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="totalTime" class="col-2 control-label">
      Total Recipe Time:
    </label>
    <input
      name="totalTime"
      id="totalTime"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="img" class="col-2 control-label">
      Image:
    </label>
    <input
      name="img"
      id="img"
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="cookTime" class="col-2 control-label">
      Cook Time:
    </label>
    <input
      name="cookTime"
      id="cookTime"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="servings" class="col-2 control-label">
      Servings:
    </label>
    <input
      name="servings"
      id="servings"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="ingredients" class="col-2 control-label">
      Ingredients:
    </label>
    <input
      name="ingredients"
      id="ingredients"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="steps" class="col-2 control-label">
      Steps:
    </label>
    <input
      name="steps"
      id="steps"
      required
    />
  </fieldset>
  <fieldset class="form-group">
    <label for="tags" class="col-2 control-label">
      Tags:
    </label>
    <input
      name="tags"
      id="tags"
    />
  </fieldset>
    
  <fieldset class="form-group">
    <button class="btn btn-info offset-3">
      Add Recipe
    </button>
  </fieldset>
</form>
